.landing-page {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #2B2B2B;

    /*border: 2px solid red;*/
}